#landing {
	background-color:#fefefe;
	width:700px;
	position:relative;
 
//	display:block;

	//padding:100px;
	// position:absolute;
	// left:0;
	// top: 0;
  	// transform: translateY(-50%);
//	transition: height 10s;
	animation-name: landingexpand;
//	animation-delay: 2s;
	// animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	z-index:3000;
	 
//	transition: max-height 0.7s linear;
//	transition-delay:10s;
//	transition-duration:10s;
}

// <body class="home page-template-default page page-id-1977 tve_lp webp-support tve-desktop-browser tve-chrome-browser tve-version-browser sumome-welcome-mat-landing-page" style="--parallaxR:0; --parallaxB:0; --parallaxS:1; --parallaxO:1; --parallaxTX:0; --parallaxTY:0; --parallaxRY:0; --parallaxP:1000px; overflow-x: hidden; padding-top: 717px; position: static;" data-css="tve-u-621e5c4f6f06e8" data-sumome-original-computed-padding-top="0" 

.noheight {
	height:0px;
}



@keyframes landingfade {
	0% {opacity: 0}
	100% {opacity: 1}
}
.static {
		position:static; 
	background-color:bisque;
	//opacity:0;
	height: 600px;
	width: 100%;
	//background: lightblue;
	//margin-bottom: 20px;
	//transition: opacity 1s;
	// visibility: hidden;
  	// opacity: 0;
 	// transition: visibility 0s, opacity 0.5s linear;
	// padding:20% 0; 
	// overflow:hidden !important;
	// width:100%;
	// height:0;
	// display:none;
	// animation: fill-1;
} 
.static--hidden {
	//opacity:1;
} 
.newheight {
//	opacity:1;
//	visibility:visible;                                                                                                       
//	animation: staticSlide;
	//	animation-delay: 2s;
	// animation-iteration-count: infinite;
	// animation-timing-function: ease-in-out;
	// animation-duration: 5s; 
	// visibility:visible;
	// opacity:1;
	// transition: displayme;
	// display:inline-block;

}
.block {
	display:block;
}
@keyframes fill-1 {
	0%   { height: 0; }
	100% { height: 600px; }
  }

  .animate__slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown;
  }

.expand {
	
	animation-name: landingexpand;
	//	animation-delay: 2s;
	// animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	//animation-delay: 5s;
}
@keyframes landingexpand {
	0% {
		transform: translateY(-100%);
		max-height:0;
		opacity:0;
		 
	  }
	  100% {
		transform: translateY(0); 
		max-height: 600px;
		opacity:100;
		
		 
	  }
}
.fixed {	
	position:fixed;
}
.banner-landing {
	background-color:bisque;
	height: 600px;
	width: 100%;
	//margin-top:139px;
//	position: fixed;
//    top: 0;
//    left: 0;
    z-index: 100000;
 //   display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}
.display-none {
	display:none;
}
.dislay-banner {
	display:block;
}
.slide {
	animation: staticSlide;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	 
}
.slide-banner {
	-webkit-animation-name: slideInBanner;
    animation-name: slideInBanner; 
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes slideInBanner {
	0% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	} 
} 
@-webkit-keyframes staticSlide {
	from {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	  visibility: hidden;
	  min-height:0;
	  opacity:0;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  visibility: visible;
	  min-height:600px;
	  opacity:1;
	  
	}
  }
@keyframes staticSlide {
	from {
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	  min-height:0;

	  visibility: hidden;
	  opacity:0;
	}
  
	to {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  min-height:600px;
	  visibility: visible;
	  opacity:1;
	}
  }
.relative-landing {
	background-color:aquamarine;
	height:600px;
	position:relative;
	top:139px;
	// top:-30px;
	//top: -400px;
}
// on the body
.body-landing {
	overflow: hidden;
	padding-top: 1300px;
	position: static;
}
.sumo-form-wrapper.welcome-mat-popup {
	position:absolute;
	top:0;
	top:-1000px;
	left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.sumo-form-wrapper.welcome-mat-popup {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    z-index: 10000001;
	padding:20% 0;
    font-size: 16px;
}
.sumo-form-wrapper {
    word-wrap: normal;
    -ms-word-wrap: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    width: auto;
    line-height: initial;
    font-style: initial;
    font-weight: initial;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
    quotes: none;
    border: none;
    border: initial;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.sumo-form-wrapper div {
    width: auto;
    float: none;
}
.sumo-form-wrapper .sumome-react-wysiwyg-gridRow {
    width: 100% !important;
    height: 100% !important;
} 
.sumo-form-wrapper div {
	word-wrap: normal;
    -ms-word-wrap: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    position: static;
    background: transparent;
    line-height: inherit;
    font-style: inherit;
    font-weight: inherit;
    font-family: "Open Sans", sans-serif;
    opacity: 1;
    color: inherit;
    border: initial;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.sumo-form-wrapper.welcome-mat-popup .welcome-mat-popup-content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: top 1s ease-in-out;
    pointer-events: auto;
}
.wrap-all {
	position:relative;
}
// removes popup from html.
#thrive-header {
	transition-duration: 0s;
    transform: scale(0, 0);
    animation-fill-mode: none;
    animation-duration: 0s;
}
.absolute {
	background-color:coral;
	height:600px;
}

#wrapper-navbar {
	position:relative;
	z-index:-1;
}
#wpadminbar { display:none; }
* {
	margin:0;
	padding:0;
	font-family:"Helvetica Neue", Helvetica, Sans-serif;
	word-spacing:-2px;
  }
  
  h1 {
	font-size:40px;
	font-weight:bold;
	color:#191919;
	-webkit-font-smoothing: antialiased;
  }
  
  h2 {
	font-weight:normal;
	font-size:20px;
	color:#888;
	padding:5px 0;
  }
  .body-slide {

  }
  .message {
  background:#181818;
  color:#FFF;
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  height: 250px;
  padding: 20px;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
	
  }
  
  .message h1 {
	color:#FFF;
  }
  
  #toggle {
	position:absolute;
	appearance:none;
	cursor:pointer;
	left:-100%;
	top:-100%;
  }
  
  #toggle + label {
	position:absolute;
	cursor:pointer;
	padding:10px;
	background: #26ae90;
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color: #FFF;
  line-height:20px;
  font-size:12px;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
	margin:20px 50px;
	transition:all 500ms ease;
  }
  #toggle + label:after {
	content:"Open" 
  }
  
  .mycontainer {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
	padding:5em 3em;
  }
  
  #toggle:checked ~ .message {
	top: 0;
  }
  
  #toggle:checked ~ .container {
	margin-top: 250px;
  }
  
  #toggle:checked + label {
	background:#dd6149;
  }
  
  #toggle:checked + label:after {
	content:"Close"
  }
  
  #slider {
            
}
#actual {
	background: silver;
	color: White;
	padding: 20px;
}
.slideup, .slidedown {
	max-height: 0;            
	overflow-y: hidden;
	-webkit-transition: max-height 0.5s ease-in-out;
	-moz-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
.slidedown {            
	max-height: 60px ;                    
}    
#banner {
	position:absolute;
	bottom: -600px;
	width:100%;
	height:600px;
	background:cadetblue;
}
@keyframes slideInUp {
	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutUp {
	from {
		transform: translate3d(0, 0, 0);
		
	}
	to {
		visibility: hidden;
		transform: translate3d(0, -100%, 0);
	}
}
.slideInUp {
	animation-name: slideInUp;
}
.slideOutUp {
	animation-name: slideOutUp
}
