 
// Off canvas navigation
// --------------------------------------------------

.offcanvas-body {
    padding:1rem 0; 
  .accordion-button {
    padding:1rem;
  }
    .accordion-button:not(.collapsed) {
      color: $black;
      background-color: #fff;
      
  }

}
 